@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Fascinate+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&family=Noto+Sans+JP:wght@100..900&family=Quicksand:wght@300..700&family=Ribeye+Marrow&family=Rubik+Mono+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Fascinate+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&family=Noto+Sans+JP:wght@100..900&family=Quicksand:wght@300..700&family=Ribeye+Marrow&family=Rubik+Mono+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Fascinate+Inline&family=Khand:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Ribeye+Marrow&family=Rubik+Mono+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body{
    background-color:#e9ecef ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 1% 10% 1% 1%;
    box-shadow: 0 5px 25px 1px #ced4da;
    
}
p{
    font-family: "Source Code Pro", monospace;
}
img{
   margin-left: 80px;
   margin-top: 20px;
}
h3{
    text-align: center;
    font-size: 12px;
    font-family: "Source Code Pro", monospace;
    
}
.text{
    text-align: center;
    font-size: 10px;
}
p,h4{
    margin-top: 20px ;
    margin-left:20px ;
    margin-right:20px ;
    padding-left: 20px;
    font-size: 6px;
    width: 75%;
}
h4{
    margin-top: 10px;
    color: #f48c06;
    font-size: 8px;

}
button{
    background-color: #273043;
    color: #fff;
    margin-left:  40px;
    margin-top: 5px;
    text-align: center;
    padding: 7px 30px;
    font-size: 10px;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    
}
